<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="bg-yellow/50 text-matcha font-semifold p-4 rounded mb-4">
    <ul class="list-disc pl-5 space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
