<h1 class="text-gray text-xl text-center mb-5">
  <i class="fa-solid fa-map-pin text-red-500"></i><%= t("views.spot.flow") %> <br>
</h1>
<div class="flex">
  <div class="w-full">
    <% if user_signed_in? %>
      <%= render 'form' %>
      <%= render 'spot' %>
    <% else %>
      <h1 class= "text-3xl text-gray"><%= t("views.spot.need_login") %><i class="fa-solid fa-tree text-moss-green"></i></h1>
    <% end %>
  </div>
</div>
