<h1 class="text-white text-xl text-center mb-5">
  <i class="fa-solid fa-map-pin text-pink-red"></i>場所名を入力したら、必ず検索を押してから登録してください <br>
</h1>
<div class="flex flex-col lg:flex-row gap-6">
  <div class="w-full lg:w-3/4">
    <% if user_signed_in? %>
      <%= render 'form' %>
      <%= render 'spot' %>
    <% else %>
      <h1 class= "text-3xl text-white"> 場所を登録するには、ログインが必要です<i class="fa-solid fa-tree text-moss-green"></i></h1>
    <% end %>
  </div>
</div>

<%= link_to "戻る", room_spots_path(@room) %>