<h1 class="text-gray text-xl text-center mb-5">
  <i class="fa-solid fa-map-pin text-red-300"></i>⓵ステータス→⓶住所を入力→⓷検索→⓸登録 <br>
</h1>
<div class="flex">
  <div class="w-full">
    <% if user_signed_in? %>
      <%= render 'form' %>
      <%= render 'spot' %>
    <% else %>
      <h1 class= "text-3xl text-gray"> 場所を登録するには、ログインが必要です<i class="fa-solid fa-tree text-moss-green"></i></h1>
    <% end %>
  </div>
</div>

<%= link_to "戻る", room_spots_path(@room) %>