<footer class="bg-yellow/30 text-matcha text-sm md:text-lg md-4 font-semibold">
    <div class="max-w-screen-lg mx-auto">
      <div class="flex justify-between items-center p-2 md:p-4">
        <div class="flex space-x-4">
            <span>お問い合わせ(実装中)</span>
            <%= link_to '利用規約', terms_path %>
            <%= link_to 'プライバシーポリシー', privacy_path %>
        </div>
        <div class="flex flex-col justify-end text-gray">
            <i class="fa-brands fa-x-twitter"></i>
            <p>@Online Room</p>
        </div>
      </div>
    </div>
  </footer>