<footer class="bg-beige text-matcha text-sm md:text-lg md-2 font-semibold">
    <div class="max-w-screen-lg mx-auto">
      <div class="flex justify-between">
        <div class="flex space-x-4">
            <span>お問い合わせ(実装前)</span>
            <span>利用規約(実装前)</span>
            <span>プライバシーポリシー(実装前)</span>
        </div>
        <div class="flex flex-col justify-end text-gray">
            <i class="fa-brands fa-x-twitter"></i>
            <p>@Online Room</p>
        </div>
      </div>
    </div>
  </footer>