<header>
    <nav class="bg-beige border-2 border-brown fixed top-0 w-full z-50">
      <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
        <div class= "text-brown">
          日本語/English
        </div>
        <div class="text-xl text-brown text-center">
          Online room
        </div>
        <div class="text-brown flex space-x-4">
          <span>ログイン（帰宅）</span>
          <span>新規登録</span>
        </div>
      </div>
    </nav>
  </header>

