<div class="bg-beige/40 p-6 rounded-lg shadow-lg mb-6">
    <h3 class="text-sm font-semibold text-matcha"><i class="fa-regular fa-user"></i><%= answer.user == answer.post.user ? "投稿主" : answer.user.name %></h3>
    <p class="text-gray-700"><%= simple_format(answer.body) %></p>
<% if current_user&.own?(answer) %>
    <ul class="flex justify-end space-x-2">
        <li>
        <%= link_to answer_path(answer), class: "delete-answer-link", data: { turbo_method: :delete, turbo_confirm: t("flash.alert") } do %>
            <i class="fa-solid fa-trash text-lg text-blue"></i>
        <% end %>
        </li>
    </ul>
<% end %>
</div>