<%= form_with(model: @area,  local: true ) do |f| %>
  <div class="bg-light-gray/75 p-4 rounded shadow mb-4">
    <%= f.label :city, "あなたのお住まいの地域 *市or区 (ローマ字＆小文字で入力)", class: "text-sm text-dark-gray" %>
    <%= f.text_field :city, placeholder: "(例: shibuya)", class: "bg-light-gray w-full p-2 border rounded text-gray" %>
    <div class="flex justify-center">
      <%= f.submit "登録", class: "bg-light-blue text-dark-gray px-4 py-2 mt-2 rounded hover:bg-light-blue/80 transition" %>
    </div>
    <div class="text-gray text-right">*いずれもあとで変更可</div>
  </div>
<% end %>