<% if flash[:just_signed_in] %>
  <div id="login-greeting">
  <div class="fixed top-[580px] md:top-[600px] left-0 z-50 justify-end text-beige">
    <p><%= @welcome_display[:user].name %></p>
    <p class="bg-blue/50 p-4 rounded-lg shadow-md"><%= @welcome_display[:message] %></p>
  </div>

  <div class="fixed top-[500px] md:top-[520px] left-0 z-50 justify-end text-beige">
    <p><%= @return_display[:user].name %></p>
    <p class="bg-matcha/50 p-4 rounded-lg shadow-md"><%= @return_display[:message] %></p>
  </div>
</div>

<script>
  setTimeout(() => {
    const box = document.getElementById('login-greeting');
    if (box) {
      box.style.transition = 'opacity 1s ease';
      box.style.opacity = 0;
      setTimeout(() => box.remove(), 1000);
    }
  }, 30000);
</script>

<% end %>