<div class="fixed top-[600px] left-0 z-50 bg-white/50 p-4 rounded-lg shadow-md justify-end">
    <% if @return.present? %>
        <% @greetings.return.each do |greeting| %>
            <% if greeting.user == current_user %>
                <div>
                    <p><%= greeting.user.name %></p>
                    <p><%= greeting.message %></p>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <h2>おかえりなさい</h2>
    <% end %>

    <% if @welcome.present? %>
        <% @greetings.welcome.each do |greeting| %>
            <% if greeting.user == current_user %>
                <div>
                    <p><%= greeting.user.name %></p>
                    <p><%= greeting.message %></p>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <h2>ただいま～！！</h2>
    <% end %>
</div>