<div class ="text-center title ">
    <%= link_to 'share', "https://x.com/share?url=https://online-room.onrender.com/&text=ã€ðŸ #{@post.post_type}ã€‘ï½ž#{@post.content}ï½žã‚’æŠ•ç¨¿ã—ã¾ã—ãŸï¼", 
    title: 'X',class:'fa-brands fa-x-twitter', target: '_blank', rel: "noopener" %>
</div>