.btn-exchange {
  position: fixed;
  top: 60px;       /* 上から20px */
  right: 20px;     /* 右から20px */
  z-index: 9999;     /* Three.jsのcanvasより前面 */
}

.btn-spot {
  position: fixed;
  top: 60px;       /* 上から20px */
  right: 20px;     /* 右から20px */
  z-index: 9999;     /* Three.jsのcanvasより前面 */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}
